*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* main baner section started                        main heading baner's CSS has been started */
.main-baner-heading{
    text-align: center;
    font-size: 1.6rem;
    margin: 0px 0px 32px;
    width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}
.inro{
    color: var(--white);
    font-family: butler;
    font-size: 4rem;
    margin: 0px 0px 32px;
    text-align: center;
}
.para-content-text{
    font-size: 1.6rem;
    color: var(--light-grey);
    font-family: apercu;
    margin: 0px 0px 15px;

}
#pad{
    padding: 72px;
}
/* main baner section ended                        main heading baner's CSS has been ednded */

/* restaurant section started text content */
.second-heading-baner{
    
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
    width: 1300px;
    margin:  auto;
    /* border: 1px solid var(--white); */
}
.restaurant{
   
    font-size: 3.2rem;
    font-family: inter;
    color: var(--white);
    margin: 0px 0px 10px;

}
/* restaurant section started text content */









    /* <!-- content data section started  */
.content-data{
    display: flex;
    flex-wrap: wrap;
   
    /* width: 1300px; */
    justify-content: center;
    margin: 0 auto;
}

.content-data-text{
     width: 660px;
   height: 474.95px;
}
.content-data-heading{
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.8rem;
    color: var(--white);
    margin: 0px 0px 24px;
}
.content-data-para{
    font-size: 1.5rem;
    font-family: apercu;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: var(--light-grey);
    margin: 0px 0px 18px;

}

.data-img {
   width: 660px;
   height: 474.95px;
}
.data-img img{
    width: 636px;
    border-radius: 10px;
}
img svg{
    vertical-align: middle;
}
/* <!-- content data section ended  */

.heading-of-salt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 32px 0px 70px;
}
.about-us-heading{
    margin: 0px 0px 20px;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    font-size: 3.2rem;
    line-height: 38px;
    color: var(--white);
}

.para-custom-text{
    font-size: 1.6rem;
    font-family: apercu;
    margin: 0px 0px 10px;
    color: var(--light-grey);
}
