@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

/* 
@media only screen and (max-width: 402px) {
    .village-img-section {
        width: 200px;
        height: 200px;
    }

    .nav-parent {
        flex-direction: column;
        align-items: center;
    }

    .nav-items {
        justify-content: center;
    }

    .franchise-box {
        flex-direction: column;
        align-items: center;
    }

    .brand-child {
        flex-direction: column;
        align-items: center;
    }

    .our-brand-parent {
        flex-direction: column;
        align-items: center;
    }

    .franchise-sec-container img {
        width: 200px;

    }

    .second-parent img {

        align-items: center;
        width: 150px;
        height: 100px;
    }

    .sec-franch-img {
        width: 100px;
        height: 100px;
    }
} */

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    ;
    font-style: normal;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --red: #ed1c24;
    --light-grey: #ffffffb3;
    --gray: #0f0f0f;
    --green: #28a745;
}

body {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
}

@font-face {
    font-family: futurak;
    src: url('./fonts/futurak.ttf');
}

/* navbar section CSS Started */
.logo-img {
    width: 165px;
}

.nav-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav-items {
    /* column-gap: 17px; */
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    gap: 10px;
}

.nav-items>a {
    /* list-style: none; */
    color: var(--white);
    text-decoration: none;
}

/* .nav-items{
    display: flex;
    align-items: flex-end;
} */
.nav-list {
    padding: 17px 36px 0px 0px;

}

.get-franchise-btn {

    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 25px;
    padding: 12px 15px;
    cursor: pointer;
    transition: transform 0.15s;
}

.get-franchise-btn:hover {
    transform: scale(1.1);
}

.order-online-btn {
    background-color: var(--red);
    font-size: 1.5rem;
    padding: 15px 15px;
    border: none;
    border-radius: 20px;
    /* margin-left: 10px; */
    color: var(--white);
    align-self: auto;
    cursor: pointer;
    transition: transform 0.15s;
}

.order-online-btn:hover {
    transform: scale(1.1);

}

.icon-btn {
    color: var(--red);
    background-color: var(--white);
    margin: 0 0 0 7px;
    padding: 6px 7px;
    border-radius: 20px;
}

/* navbar section CSS ended */


/* crousel img css started */
.crousel-img {
    width: 100%;
}

/* crousel img css ended */


/* our brand css started */

.our-brand-heading {
    text-align: center;
    margin: 60px 0 9px 0px;
    font-size: 4rem;
    font-weight: 200;
    color: var(--white);
}


.salt-peper-span {
    font-size: 5.2rem;
    font-family: futurak;
}

.our-brand-para {
    text-align: center;
    font-size: 1.6rem;
    color: var(--light-grey);
    margin: 20px;
}

.our-brand-parent {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.brand-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

}

.brand-child-img {
    background-color: var(--white);
    width: 250px;
    height: 140px;
    padding: 19px;
    border-radius: 5px;

}

.btn-product {
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--light-grey);
    font-size: 1.4rem;
    padding: 16px 40px;
    border-radius: 25px;
}

/* our brand css ended */

/* <!-- franchise section started --> */
.franchise-sec-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    column-gap: 100px;
    flex-wrap: wrap;
    background-color: var(--gray);
    padding: 70px;
    margin: 70px 0px 0px 0px;
    /* height: 1474.72px; */
}



.franchise-heading {
    text-align: center;
    /* margin-top: 100px; */
    font-size: 4rem;
    font-weight: 200;
    color: var(--white);
}

.watermark {
    position: absolute;
    right: 30px;
    /* position: relative;
    left: 10px;
    top: 600px; */

    z-index: 0;
}

.franchise-box {
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
    margin-top: 50px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.small {
    color: var(--red);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    letter-spacing: 8px;
    /* font-weight: 300; */
    margin: 0px 0px 8px;
}

.logo-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    font-size: 3.2rem;
    margin: 0px 0px 24px;
}

.logo-span {
    font-family: futurak;
    font-size: 3.2rem;
}

.addres {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    font-size: 1.6rem;
    color: var(--light-grey);
    margin: 0px 0px 10px;
}

.contact-number {
    text-decoration: none;
    color: var(--white);
    display: block;
    font-size: 1.6rem;
    color: var(--light-grey);
    margin: 0px 0px 10px;
}

.franchise-img {
    width: 550px;
    /* height: 346.91; */
    cursor: pointer;
    transition: transform 0.25s;
}

.franchise-img:hover {
    transform: scale(1.1);
}

.btn-direction {
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--light-grey);
    font-size: 1.4rem;
    display: inline-block;
    margin: 40px 0px 0px;
    padding: 19px 25px 15px;
    border-radius: 25px;
    transition: padding 0.25s;
}

.btn-direction:hover {
    padding: 20px 50px 20px;
    border-radius: 40px;
}

.franchise-box-2nd{
    /* border: 3px solid blue; */
    display: flex;
    width: 1700px;
    margin: 0 auto;
    column-gap: 580px;
    flex-wrap: wrap;

}
/* #franchise-text {
    

    
}
.area-content{
    
} */


/* <!-- franchise section ended --> */







/* franchise second section started */ 
.franchise-heading {
    font-family: enter;
    font-size: 5.3rem;

}

.second-sec-watermark-logo {
    position: absolute;
    right: 90px;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#second-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 2400px;
    margin: auto;
    margin-top: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 600px;
    border-bottom-right-radius: 600px;
    border-bottom-left-radius: 30px;

}


.franch-img {
    width: 416px;
    height: 250px;
    border-radius: 10px;

}

.arrow-one {
    padding: 8px 8px 6px;
}

.arrow-one {
    background-color: #fff;
    color: #dc3545;
    width: 27px;
    height: 27px;
    padding: 5px 8px;
    border-radius: 30px;
    margin-left: 10px;
}

.brand-child {
    font-size: 1.6rem;
    color: var(--white);
    font-family: inter;

}

.franchise-logo-text {
    font-size: 2.4rem;
    color: var(--white);
    font-family: apercu;

}

.franchise-logo-span {
    font-family: futurak;
    font-size: 2.4rem;
    color: var(--white);
}

.small-text {
    color: var(--red);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    letter-spacing: 8px;
    line-height: 0;
}

/* <!-- 1st second section childrens have been ended --> */

/* franchises_second_section ednded */



/* villag franchise seciton started */
.village-franchise {
    margin-top: 30px;
    background-color: var(--gray);
    padding: 48px 0px;
    row-gap: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.village-franchise-heading {
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
    color: var(--white);
    margin-top: 50px;

}

.second-span {
    letter-spacing: 8px;
    font-weight: 300;
    font-family: enter;
}

.village-img {
   width: 616px;
   /* height: 353.31; */
}

.content-sec {

    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    row-gap: 15px;
    font-size: 1.6rem;
    font-family: apercu;

}

.contact {
    color: var(--light-grey);
}

.para-1 {
    font-size: 3.2rem;
}

.get-direction {
    background-color: var(--green);
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--green);
    padding: 15px 30px;
    border-radius: 30px;
    margin: 20px 0px 0px;
    cursor: pointer;
    transition-duration: 0.25s;
    /* transition: transform 0.25s; */
}

.get-direction:hover {
    background-color: inherit;
    transform: scale(1.1);
}

.icon-btn-custom {
    background-color: var(--white);
    color: var(--green) !important;
}

/* villag franchise seciton ended */




/* location section started */
.location-card-box {
    /* border: 1px solid var(--red); */
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
}

.location-sec-heading {
    text-align: center;
    font-family: enter;
    font-size: 4.8rem;
}

.opening-soon-span {
    font-size: 3rem;
}

.card-box-parent {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-self: auto;
    /* column-gap: 100px; */
    margin: 30px 0px 0px;
    row-gap: 45px;

    column-gap: 20px;
}

.card-child {
    background-color: var(--white);
    padding: 25px 24px;
    color: var(--black);
    /* border: 1px solid var(--red); */
    width: 380px;
    height: 270px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    /* transition: transform 0.25s; */
    transition-duration: 0.25s;
}

.card-child:hover {
    transform: scale(1.1);
    background-color: var(--gray);
    color: inherit;
}

.location-img {
    /* width: 70px; */
    margin-bottom: 25px;
}

#card-child0-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-child small {
    color: var(--red);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    margin: 0px 0px 8px;
    letter-spacing: 6px;
    font-weight: 250;
    line-height: 1;
    text-align: center;

}

.logo-text-of-location {
    font-size: 2.1rem;
    font-family: apercu;
    font-weight: 100;
    letter-spacing: 2px;
    /* line-height: 2; */
}

.logo-location-span {
    font-size: 2.8rem;
    font-family: futurak;
    font-weight: none;
    margin: 0px 8px 0px 0px;
}

.sec-h4 {
    font-size: 2.1rem;
    font-family: apercu;
    font-weight: 100;
    /* line-height: 2; */
    letter-spacing: 1px;
}

/* location section ended */


/* social feed section started */
.social-feed {
    margin: 90px 0px 0px;
}

.social-feed-heading {
    width: 200px;
    margin: 0 auto;
    font-size: 3.2rem;
    /* font-weight: 200; */
    color: var(--white);
    font-family: butler;
    /* margin: 60px 0 9px 60px; */
    margin-bottom: 50px;

}

.social-feed-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-feed-img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    transition-duration: 0.25s;
}

.child-img-social {
    cursor: pointer;
}

.social-feed-img:hover {
    transform: scale(0.9);
    border-radius: 40px;
}

/* social feed section ended */


/* fotter section started */
.fotter-section {
    background-color: var(--gray);
    margin: 90px 0px 0px;
    padding: 70px 15px 40px;
}



.fotter-watermark {
    position: absolute;
    left: 30px;
    z-index: 1;
    display: block;
}

.fotter-data-box {
    display: flex;
    justify-content: center;
    gap: 60px;
}


.logo-img {
    padding: 0px 0px 24px;
    font-size: 1.6rem;
}

.paragraph-fotter {
    color: var(--light-grey);
    font-size: 1.6rem;
    font-family: apercu;
    padding: 0px 0px 24px;
}

.unorder-list-items {
    display: flex;
    font-size: 1.5rem;
    list-style: none;
}

.unorder-list-items a {
    text-decoration: none;
    list-style-type: none;
    color: var(--light-grey);
}

.terms-and-condition {
    margin: 0px 10px 0px 0px;

}

/* .fotter-child-box2>h3 {
    font-size: 1.6rem;
    font-family: inter;
    color: var(--white);
    padding: 0px 0px 24px;
} */

.child-box-ul a {
    text-decoration: none;
    color: var(--light-grey);
    font-size: 1.5rem;
    padding: 0px 0px 16px;
    list-style-type: none;
}

.child-box2-list-items {
    padding: 0px 0px 16px;
    font-size: 1.5rem;
    list-style: none;
}

.child-2-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--light-grey);
}

.fotter-child-box3-heading {
    font-size: 1.6rem;
    padding: 0px 0px 24px;
    font-family: butler;
    color: var(--white);

}

.child-box3-unordered-list {
    list-style-type: none;


}

.contact-heading {
    color: var(--white);
    padding: 0px 0px 16px;
    font-size: 1.6rem;
    font-family: inter;
}

.contact-heading-link {
    color: var(--light-grey);
    padding: 0px 0px 16px;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    font-family: apercu;
}

.footer_socail_links {
    margin: 20px 0px 35px;
}

.footer_socail_links a {
    list-style-type: none;
    color: var(--white);

    font-size: 1.5rem;


}

.icons-facebook {
    background-color: var(--red);
    color: var(--white);
    margin: 0px 10px 0px 0px;
    padding: 15px;
    border-radius: 30px;
}

.img-fotter-sec {
    display: block;
    margin: 14px 0px;
}

/* fotter section ended */